/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */



body	{
	display: flex;
	width: 100%;
	flex-direction: column;
}

header  {
	display: flex;
	align-items: center;
    background-color: #000 ;
	padding: 1rem 5%;
    color: #fff;
    text-align: right;
	font-family: 'Ubuntu', sans-serif;
}

header h1   {
	display: inline-block;
	font-size: 1rem;
}

.tag-line   {
    font-size: .55rem;
    display: block;
    font-family: cursive;
    font-style: italic;
}

.container  {
    background-color: rgb(120, 180, 60);
    opacity: .8;
	padding: 30px 30px;
}

#contain	{
	display: none;
}

.prev, .next, .dot   {
    display: none;
}

.slideshow-container    {
	filter: drop-shadow(-1px 10px 5px rgba(0, 0, 0, 0.514));
	transition: .5s ease;
}

.slideshow-container:focus	{
	scale: 1.2;
}

.mySlides		{
	display: block;
	position: relative;
	margin: 40px 0;
}

.mySlides img	{
	position: relative;
}
.caption    {
    color: white;
    background-color: rgba(0, 128, 0, 0.308);
	font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

.caption h2		{
	font-size: 6vmin;
	font-weight: 600;
}

.caption p, li	{
	font-size: 3vmin;
	line-height: 4vmin;
	padding: 0px 8vmin;
	font-weight: 400;
}


.partners   {
    height: 7vmin;
    width: 7vmin;
    /* padding: 5px; */
    margin: 4vmin 3vmin 0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.863);
    transition: .8s ease;
}

.connect   {
    height: 7vmin;
    width: 7vmin;
    margin: 4vmin 4vmin 0;
    transition: .8s ease;
}

.connect:hover, .partners:hover, .connect:focus, .partners:focus  {
    scale: 1.3;
}


footer  {
    background-color: #000;
    color: #fff;
    font-size: 3vmin;
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 0;
}

footer a    {
    text-decoration: none;
    color: #717171;
}